body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, rgb(0, 0, 255), rgba(0, 0, 0, 0.5)), #00f;
    height: 109vh;
}

h1 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

li {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

h6 {
    color: #fff;
}
